<section class="vh-100 "
    style="background-image: url('assets/images/back.jpg'); background-size: cover; background-position: center;">
    <div class="">
        <div class="container" *ngIf="!showForm"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; ">
            <div class="col-sm-3 text-black d-flex align-items-center justify-content-center">
                <div class="border border-black"
                    style="border-radius: 15px; padding:20px; background-color: aliceblue;">

                    <form (ngSubmit)="userLogin()" style="width: 23rem;">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/logo2.png" alt="Logo" width="150" height="150"
                                class="d-inline-block align-top" style="display: flex;margin-left: 100px;">
                        </a>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email"> <i class="fas fa-envelope"></i> Email:</label>
                            <input type="email" [(ngModel)]="Userlogin.email" id="email" name="email"
                                class="form-control form-control-lg" [formControl]="emailControl" />
                            <div *ngIf="emailControl.hasError('required') && emailControl.touched" class="text-danger">
                                Email is required.
                            </div>
                            <div *ngIf="emailControl.hasError('email') && emailControl.touched" class="text-danger">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password"> <i class="fas fa-lock"></i> Password:</label>
                            <input type="password" [(ngModel)]="Userlogin.password" id="password" name="password"
                                class="form-control form-control-lg" [formControl]="passwordControl" />
                            <div *ngIf="passwordControl.hasError('required') && passwordControl.touched"
                                class="text-danger">
                                Password is required.
                            </div>
                        </div>

                        <div class="pt-1 mb-3 d-flex justify-content-center">
                            <button [disabled]="!emailControl.valid || !passwordControl.valid"
                                class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                                type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    <path fill-rule="evenodd"
                                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                                </svg> </button>
                        </div>

                        <p>Don't have an account? <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="register()"> <i
                                    class="fas fa-user"></i>Register
                                here</button></p>
                    </form>


                </div>
            </div>

        </div>
        <app-signup *ngIf="showForm"></app-signup>

    </div>
</section>