<div style="text-align: center; padding: 30px;">
    <form class="form-inline" style="display: flex; justify-content: center;" (ngSubmit)="onSubmit()">
        <select class="form-control mr-sm-2" style="width: 200px;" [(ngModel)]="filter.villeDepart" name="villeDepart">
            <option value="">Select Departure</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
        <select class="form-control mr-sm-2" style="width: 200px;" [(ngModel)]="filter.villeArrive" name="villeArrive">
            <option value="">Select Destination</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
        <!--<input class="form-control mr-sm-2" type="date" placeholder="Date" aria-label="Search" style="width: 150px;"
            [(ngModel)]="filter.dateDepart" name="dateDepart">-->
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>