<div class="container">
    <form (ngSubmit)="postePublier()" #publicationForm="ngForm" class="form-style">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="villeDepart">Adresse de départ</label>
                    <select class="form-control" id="villeDepart" name="villeDepart" placeholder="Adresse de départ"
                        required [(ngModel)]="publication.villeDepart">
                        <option value="" disabled selected>Choisir une ville de départ</option>
                        <option *ngFor="let ville of villes" [value]="ville">{{ville}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="villeArrive">Adresse d'arrivée</label>
                    <select class="form-control" id="villeArrive" name="villeArrive" required
                        [(ngModel)]="publication.villeArrive">
                        <option value="" disabled selected>Choisir une ville d'arrivée</option>
                        <option *ngFor="let ville of villes" [value]="ville">{{ville}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateDepart">Date de départ</label>
                    <input type="date" class="form-control" id="dateDepart" name="dateDepart"
                        [(ngModel)]="publication.dateDepart" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"
                        [(ngModel)]="publication.description" rows="3" required></textarea>
                </div>
            </div>
        </div>
        <!-- Other form elements -->
        <div class="form-group">
            <label for="nbrePlaceDispo">Nombre de places disponibles</label>
            <input type="number" class="form-control" id="nbrePlaceDispo" name="nbrePlaceDispo"
                [(ngModel)]="publication.nbrePlaceDispo" required>
        </div>
        <!-- Autres champs de la publication -->
        <!-- ... -->
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="bagage" name="bagage"
                    [(ngModel)]="publication.bagage">
                <label class="form-check-label" for="bagage">Bagages acceptés</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="climatiser" name="climatiser"
                    [(ngModel)]="publication.climatiser">
                <label class="form-check-label" for="climatiser">Climatisation</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="animal" name="animal"
                    [(ngModel)]="publication.animal">
                <label class="form-check-label" for="animal">Animaux acceptés</label>
            </div>
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="publication.prix" required>
        </div>
        <div class="form-group">
            <label for="voiture">Choisir une voiture</label>
            <select class="form-control" id="idConductor" name="idConductor" required [(ngModel)]="selectedCarId">
                <option value="voiture.marqueVoiture" disabled selected>Choisir une voiture</option>
                <option *ngFor="let voiture of voitures" [value]="voiture.idVoiture"> {{ voiture.marqueVoiture }}
                </option>
            </select>
        </div>
        <br> <br>
        <div class="container d-flex justify-content-center">
            <button type="submit"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Publier</button>
        </div>
    </form>
</div>