<div style="text-align: center; padding: 30px;">
    <form class="form-inline" style="display: flex; justify-content: center;">
        <input class="form-control mr-sm-2" type="search" placeholder="Depart" aria-label="Search"
            style="width: 200px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Destination" aria-label="Search"
            style="width: 200px;">
        <input class="form-control mr-sm-2" type="date" placeholder="Date" aria-label="Search" style="width: 150px;">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="card border-white shadow-lg mb-3 " id="main-container"
    style="box-shadow: 2px 5px 5px grey;border-radius: 15px;margin-left:200px;margin-right:200px ">
    <div class="row ">
        <div class="col-12">

        </div>
    </div>
</div>


